{{#fail}}
	<p>There was an error creating the account. Contact {{> admin_contact}} for help.</p>
{{/fail}}

{{#key_fail}}
	<p>SSH keys failed to import. Contact {{> admin_contact}} for help.</p>
{{/key_fail}}

{{#key_success}}
	<h2 class="created">Your account has been created.</h2>
	<p>SSH keys have been imported from github so you can log in:</p>
	<p class="indent"><kbd>$ ssh {{username}}@rochack.org</kbd></p>
{{/key_success}}

{{#forward_fail}}
	<p>Unable to set up email forwarding. Ask {{> admin_contact}} to set it up
	manually.</p>
{{/forward_fail}}
{{#forward_success}}
	<p>Mail to <kbd>{{username}}@rochack.org</kbd> will be forwarded to
	<kbd>{{forward_address}}</kbd>.
	Edit your <kbd>~/.forward</kbd> file to change this.</p>
{{/forward_success}}

{{^password}}
	<p>The account has password access turned off. Contact {{> admin_contact}}
	if you want to be able to log in by password instead of only ssh keys.</p>
{{/password}}

{{#password}}
	<p>Your password has been set to:</p>
	<p class="indent"><kbd>{{password}}</kbd</p>
	<p>Log in and change it with <kbd>passwd</kbd>.</p>
{{/password}}
